@use "../utils/colors" as *;

.landscape-preventer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;

  display: none;

  justify-content: center;
  align-items: center;

  font-size: 20px;

  background-color: $color__background--main;

  @media (max-width: 1080px) and (orientation: landscape) {
    display: flex;
  }
}
