@use "../utils/mixins" as *;

.portfolio-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  &__title {
    position: relative;
    z-index: 2;
    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;

    @include onTablet {
      font-size: 75px;
    }

    @include onDesktop {
      font-size: 150px;
    }
  }
}