@use "./utils/reset";
@use "./utils/colors" as *;
@use "./utils/mixins" as *;

@use "./blocks/Container.scss";
@use "./blocks/Page.scss";
@use "./blocks/heroSection.scss";
@use "./blocks/Portfolio.scss";
@use "./blocks/Project.scss";
@use "./blocks/ThisPage.scss";
@use "./blocks/Contacts.scss";

:root {
  font-family: "Roboto", sans-serif;
  color: $color__text-main;
}

body {
  background-color: $color__background--main;
  overflow-x: hidden;
}
