* {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 24px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1260px) {
  .container {
    padding: 0;
  }
}

.page--loading {
  height: 100vh;
  overflow-y: hidden;
}
.page__content--loading {
  height: 100%;
  overflow-y: hidden;
}

.hero {
  height: 100vh;
  width: 100%;
  background-color: #141414;
  overflow: hidden;
}
.hero__text-reveal {
  position: relative;
  top: 50px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 1s;
}
.hero__blob {
  position: absolute;
  width: 100%;
  max-height: 100vh;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  opacity: 0.1;
  overflow: hidden;
}
.hero__blob-img {
  width: 350px;
  max-height: 90%;
}
@media (min-width: 768px) {
  .hero__blob-img {
    width: 700px;
  }
}
@media (min-width: 1260px) {
  .hero__blob-img {
    width: 50%;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: inherit;
}
.hero__hi {
  position: relative;
  left: 50%;
  transform: translateX(-50%) scale(2);
  display: inline-block;
  width: 70px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .hero__hi {
    width: 90px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1260px) {
  .hero__hi {
    width: 112px;
  }
}
.hero__hi-svg {
  stroke-dasharray: 629;
  stroke-dashoffset: 629;
}
.hero__greeting {
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 100;
}
@media (min-width: 768px) {
  .hero__greeting {
    margin-bottom: 30px;
    font-size: 50px;
  }
}
@media (min-width: 1260px) {
  .hero__greeting {
    font-size: 75px;
  }
}
.hero__fullname {
  font-weight: 500;
}
.hero__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 35px;
  font-weight: 100;
}
@media (min-width: 768px) {
  .hero__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 45px;
  }
}
@media (min-width: 1260px) {
  .hero__title {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 50px;
  }
}
.hero__job {
  font-weight: 500;
  color: #816797;
}
.hero__city {
  font-weight: 500;
}
.hero__summary {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.5px;
}
@media (min-width: 768px) {
  .hero__summary {
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 38px;
  }
}
.hero__download-cv {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #51557e;
  border: 2px solid #51557e;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.5s;
}
.hero__download-cv:hover {
  background-color: #51557e;
  color: #fff;
}
@media (min-width: 768px) {
  .hero__download-cv {
    width: 220px;
    height: 65px;
    font-size: 20px;
  }
}

.portfolio-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.portfolio-header__background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.portfolio-header__title {
  position: relative;
  z-index: 2;
  font-size: 45px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}
@media (min-width: 768px) {
  .portfolio-header__title {
    font-size: 75px;
  }
}
@media (min-width: 1260px) {
  .portfolio-header__title {
    font-size: 150px;
  }
}

.portfolio__item {
  position: relative;
  z-index: 1;
}

.project {
  min-height: 100vh;
  padding-top: 25px;
  color: #000;
  background-color: #d0d2f2;
}
@media (min-width: 768px) {
  .project {
    padding-top: 35px;
  }
}
@media (min-width: 1260px) {
  .project {
    padding-top: 40px;
  }
}
.project__header {
  margin-bottom: 16px;
  border-bottom: 1px solid #000;
}
@media (min-width: 768px) {
  .project__header {
    margin-bottom: 18px;
  }
}
@media (min-width: 1260px) {
  .project__header {
    margin-bottom: 30px;
  }
}
.project__title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .project__title {
    font-size: 60px;
  }
}
@media (min-width: 1260px) {
  .project__title {
    font-size: 100px;
  }
}
.project__number {
  font-weight: 700;
}
.project__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .project__tags {
    gap: 7px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1260px) {
  .project__tags {
    gap: 15px;
    margin-bottom: 30px;
  }
}
.project__tag {
  padding: 2px 8px;
  font-size: 13px;
  font-weight: 700;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50px;
}
@media (min-width: 768px) {
  .project__tag {
    padding: 4px 12px;
    font-size: 16px;
  }
}
@media (min-width: 1260px) {
  .project__tag {
    padding: 4px 15px;
    font-size: 20px;
  }
}
.project__links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .project__links {
    margin-bottom: 40px;
  }
}
@media (min-width: 1260px) {
  .project__links {
    margin-bottom: 85px;
  }
}
.project__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 5px;
  font-size: 13px;
  font-weight: 700;
  color: #000;
}
@media (min-width: 768px) {
  .project__link {
    gap: 7px;
    padding-right: 6px;
    font-size: 16px;
  }
}
@media (min-width: 1260px) {
  .project__link {
    gap: 10px;
    padding-right: 9px;
    font-size: 20px;
  }
  .project__link:hover::after {
    width: 100%;
  }
}
.project__link::after {
  content: "";
  position: absolute;
  z-index: 0;
  display: block;
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 13px;
  transition: width 0.5s;
}
@media (min-width: 768px) {
  .project__link::after {
    width: 29px;
    height: 29px;
    border-radius: 15px;
  }
}
@media (min-width: 1260px) {
  .project__link::after {
    width: 39px;
    height: 39px;
    border-radius: 20px;
  }
}
.project__link-icon {
  position: relative;
  z-index: 1;
  padding: 4px;
  padding-left: 5px;
  width: 25px;
}
@media (min-width: 768px) {
  .project__link-icon {
    padding: 5px;
    padding-left: 6px;
    width: 30px;
  }
}
@media (min-width: 1260px) {
  .project__link-icon {
    padding: 8px;
    padding-left: 9px;
    width: 40px;
  }
}
.project__link-text {
  position: relative;
  z-index: 1;
}
@media (min-width: 1260px) {
  .project__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }
}
.project__description {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .project__description {
    margin-bottom: 50px;
  }
}
@media (min-width: 1260px) {
  .project__description {
    grid-column: 1/6;
  }
}
.project__description-title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 30px;
}
@media (min-width: 768px) {
  .project__description-title {
    margin-bottom: 15px;
    font-size: 38px;
    line-height: 38px;
  }
}
@media (min-width: 1260px) {
  .project__description-title {
    margin-bottom: 25px;
    font-size: 42px;
    line-height: 42px;
  }
}
.project__description-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.project__description-line {
  font-size: 13px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .project__description-line {
    font-size: 16px;
    line-height: 25px;
  }
}
@media (min-width: 1260px) {
  .project__description-line {
    font-size: 20px;
    line-height: 35px;
  }
}
@media (min-width: 1260px) {
  .project__showcase {
    grid-column: 7/13;
  }
}
.project__showcase-img {
  width: 100%;
}

:root {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body {
  height: 100%;
  overflow-y: hidden;
  background-color: #141414;
}

/*# sourceMappingURL=style.css.map */
