@use "./utils/reset";
@use "./utils/colors" as *;
@use "./utils/mixins" as *;

@use "./blocks/Container.scss";
@use "./blocks/Page.scss";
@use "./blocks/heroSection.scss";
@use "./blocks/PortfolioHeader.scss";
@use "./blocks/Project.scss";

:root {
  height: 100%;
  overflow: hidden;

  font-family: 'Roboto', sans-serif;
  color: $color__text-main;
  background: $color__background--main;
}

body {
  height: 100%;
  overflow-y: scroll;
  background-color: $color__background--main;
}
